.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  z-index: -1;
  transform: translateY(calc(-100%-10px));
  transition: transform 0.5s ease;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 1rem;
}

.header .bg-reveal::before {
  transform: translateY(0);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo a {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  transform: scaleY(0.9);
  letter-spacing: 3px;
}

.header .logo span {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  color: var(--text-white);
  letter-spacing: 1px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  transform: scaleY(0.9);
  letter-spacing: 3px;
}

.logo a {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  transform: scaleY(0.9);
  letter-spacing: 3px;
}
.logo-image {
  box-shadow: 0 0 0 1em var(--main-color), 0 1em 0 1em var(--main-color),
    -2.5em 1.5em 0 0.5em var(--main-color),
    2.5em 1.5em 0 0.5em var(--main-color), -3em -3em 0 0 var(--main-color),
    3em -3em 0 0 var(--main-color), -2em -2em 0 0 var(--main-color),
    2em -2em 0 0 var(--main-color), -3em -1em 0 0 var(--main-color),
    -2em -1em 0 0 var(--main-color), 2em -1em 0 0 var(--main-color),
    3em -1em 0 0 var(--main-color), -4em 0 0 0 var(--main-color),
    -3em 0 0 0 var(--main-color), 3em 0 0 0 var(--main-color),
    4em 0 0 0 var(--main-color), -5em 1em 0 0 var(--main-color),
    -4em 1em 0 0 var(--main-color), 4em 1em 0 0 var(--main-color),
    5em 1em 0 0 var(--main-color), -5em 2em 0 0 var(--main-color),
    5em 2em 0 0 var(--main-color), -5em 3em 0 0 var(--main-color),
    -3em 3em 0 0 var(--main-color), 3em 3em 0 0 var(--main-color),
    5em 3em 0 0 var(--main-color), -2em 4em 0 0 var(--main-color),
    -1em 4em 0 0 var(--main-color), 1em 4em 0 0 var(--main-color),
    2em 4em 0 0 var(--main-color);
  background: var(--main-color);
  width: 1em;
  height: 1em;
  overflow: hidden;
  transform: scale(0.3);
}
.logo span {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  color: var(--text-white);
}

.bg-reveal::before {
  transform: translateY(0);
  background-color: var(--bg-color);
}

.nav-toggler {
  display: none;
}

.nav li {
  display: inline-block;
  margin-left: 35px;
}

.nav a {
  text-transform: capitalize;
  font-size: var(--fs-md);
  color: var(--text-white);
  font-weight: 400;
  display: block;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .nav-toggler {
    display: block;
    height: 34px;
    width: 40px;
    border: none;
    z-index: 1;
    background-color: transparent;
  }

  .nav-toggler span {
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease0;
  }

  .nav-toggler .active span {
    background-color: transparent;
  }

  .nav-toggler span::after,
  .nav-toggler span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: transform 0.3s ease;
  }
  .nav-toggler span::before {
    transform: translateY(-7px);
  }
  .nav-toggler .active span::before {
    transform: rotate(45deg);
  }
  .nav-toggler span::after {
    transform: translateY(7px);
  }
  .nav-toggler .active span::after {
    transform: rotate(-45deg);
  }

  .nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    background-color: var(--bg-color);
    padding: 60px 30px 30px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  .nav .open {
    transform: translateX(0);
    box-shadow: var(--shadow);
    height: 100%;
  }
  .nav li {
    display: block;
    margin: 0;
  }
  .nav a {
    font-size: var(--fs-lg);
  }
  .nav li + li {
    border-top: 1px solid var(--border-color);
  }
}
